%footer
  .container
    %header.headline
      %h2 
        Eve was not taken out of Adam's head to top him, neither out of his
        feet to be trampled on by him, but out of his side to be equal with
        him, under his arm to be protected by him, and near his heart to be
        loved by him.
    %p © Abraham Oshel #{Date.today.year}
