!!! 1.1
!!! XML
/ Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
%html
  %body
    %svg#Layer_1{style: "enable-background:new 0 0 165 150;", version: "1.1", viewbox: "0 0 165 150", x: "0px", "xml:space" => "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
      %g#abe_svg
        %path{d: "M2.6,34l-0.5,2.5H0.5L2.6,25H5l2.3,11.4H5.5L5,34H2.6z M3.8,27.2l-0.9,5.1h1.8L3.8,27.2z"}
        %path{d: "M8.6,25h2.6c2.1,0,3.3,1,3.3,2.9c0,1.4-0.6,2.2-1.9,2.5c1.5,0.4,2.1,1.2,2.1,2.7c0,2-1.3,3.2-3.4,3.2H8.6V25z M11,29.7\r\n      c1.1,0,1.8-0.6,1.8-1.6c0-0.4-0.2-0.8-0.4-1.1c-0.3-0.3-0.6-0.4-1.3-0.4h-0.7v3H11z M11.2,34.8c1.1,0,1.7-0.6,1.7-1.6\r\n      c0-1.1-0.8-1.9-2-1.9h-0.6v3.5H11.2z"}
        %path{d: "M18.1,36.4h-1.7V25h2.7c1,0,1.7,0.2,2.2,0.7c0.7,0.6,1,1.5,1,2.6c0,1.4-0.5,2.4-1.5,3l1.7,5.2h-1.8l-1.5-4.7h-1V36.4z\r\n       M18.7,30.1c0.7,0,1.1-0.1,1.4-0.4c0.3-0.3,0.4-0.8,0.4-1.4c0-0.6-0.1-1.1-0.4-1.4c-0.3-0.3-0.6-0.4-1.4-0.4h-0.6v3.5H18.7z"}
        %path{d: "M25.8,34l-0.5,2.5h-1.7L25.8,25h2.4l2.3,11.4h-1.8L28.2,34H25.8z M27,27.2l-0.9,5.1h1.8L27,27.2z"}
        %path{d: "M33.4,31.4v5h-1.7V25h1.7v4.8h2.5V25h1.7v11.4h-1.7v-5H33.4z"}
        %path{d: "M41.2,34l-0.5,2.5H39L41.2,25h2.4l2.3,11.4h-1.8L43.6,34H41.2z M42.4,27.2l-0.9,5.1h1.8L42.4,27.2z"}
        %path{d: "M55.3,36.4h-1.7V28l-2,8.4h-1L48.7,28v8.4h-1.7V25h2.6l1.6,7.2l1.6-7.2h2.5V36.4z"}
        %path{d: "M6,41.1H2.6v3h2.5v1.6H2.6v3.5H6v1.6H0.9V39.5H6V41.1z"}
        %path{d: "M10.8,50.9L8.4,39.5h1.8l1.7,8.7l1.5-8.7h1.8l-2.2,11.4H10.8z"}
        %path{d: "M22.9,41.1h-3.4v3H22v1.6h-2.5v3.5h3.4v1.6h-5.1V39.5h5.1V41.1z"}
        %path{d: "M27.2,50.9h-1.7V39.5h2.7c1,0,1.7,0.2,2.2,0.7c0.7,0.6,1,1.5,1,2.6c0,1.4-0.5,2.4-1.5,3l1.7,5.2h-1.8l-1.5-4.7h-1V50.9z\r\n       M27.8,44.6c0.7,0,1.1-0.1,1.4-0.4c0.3-0.3,0.4-0.8,0.4-1.4c0-0.6-0.1-1.1-0.4-1.4c-0.3-0.3-0.6-0.4-1.4-0.4h-0.6v3.5H27.8z"}
        %path{d: "M39.4,41.1H36v3h2.5v1.6H36v3.5h3.4v1.6h-5.1V39.5h5.1V41.1z"}
        %path{d: "M45.7,50.9h-1.7v-9.8h-2.2v-1.6h6.1v1.6h-2.2V50.9z"}
        %path{d: "M54,50.9h-1.7v-9.8h-2.2v-1.6h6.1v1.6H54V50.9z"}
        %path{d: "M6.1,62.6H5v-5.7l-1.3,5.7H3l-1.3-5.7v5.7H0.6v-7.7h1.7l1.1,4.8l1.1-4.8h1.7V62.6z"}
        %path{d: "M8.5,60.9l-0.3,1.7H7.1l1.5-7.7h1.6l1.5,7.7h-1.2l-0.3-1.7H8.5z M9.3,56.4l-0.6,3.5H10L9.3,56.4z"}
        %path{d: "M16.7,62.6h-1.1l-2.1-5.1v5.1h-1.1v-7.7h1.2l1.9,4.8v-4.8h1.1V62.6z"}
        %path{d: "M22,58.8v3.8h-0.6l-0.2-0.7c-0.4,0.6-0.8,0.8-1.4,0.8c-0.7,0-1.3-0.3-1.6-0.9c-0.3-0.5-0.3-1-0.3-2.1v-2.1\r\n      c0-1.2,0.1-1.7,0.4-2.1c0.3-0.5,0.9-0.7,1.6-0.7c0.8,0,1.5,0.4,1.8,1c0.2,0.4,0.3,0.9,0.3,1.6h-1.2c0-1.1-0.3-1.5-0.9-1.5\r\n      c-0.3,0-0.6,0.1-0.7,0.4C19,56.5,19,56.8,19,57.4v2.4c0,0.6,0,1,0.1,1.3c0.1,0.4,0.4,0.6,0.8,0.6c0.6,0,0.9-0.5,0.9-1.5v-0.3h-1v-1\r\n      H22z"}
        %path{d: "M26.5,56h-2.3v2h1.7v1.1h-1.7v2.4h2.3v1.1H23v-7.7h3.5V56z"}
        %path{d: "M28.5,61.5h2.3v1.1h-3.5v-7.7h1.2V61.5z"}
        %path{d: "M34.6,57c-0.2-0.8-0.5-1.1-1-1.1c-0.4,0-0.8,0.3-0.8,0.8c0,0.3,0.1,0.6,0.3,0.8c0.2,0.2,0.2,0.2,1,0.8\r\n      c0.6,0.5,0.9,0.7,1.1,1c0.3,0.4,0.5,0.9,0.5,1.4c0,1.2-0.8,2-2.1,2c-1.3,0-2.1-0.7-2.3-2.2l1.1-0.3c0.1,0.9,0.5,1.4,1.2,1.4\r\n      c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.2-0.8-1.1-1.5c-1.1-0.8-1.1-0.9-1.4-1.3c-0.3-0.4-0.4-0.8-0.4-1.3c0-1.1,0.8-1.9,2-1.9\r\n      c1.1,0,1.8,0.7,2.1,1.9L34.6,57z"}
        %path{d: "M36.6,54.9h1.9c1.5,0,2.2,0.8,2.2,2.4v2.9c0,1.6-0.7,2.4-2.2,2.4h-1.9V54.9z M38.4,61.5c0.8,0,1.1-0.4,1.1-1.6v-2.2\r\n      c0-1.2-0.3-1.6-1.1-1.6h-0.6v5.5H38.4z"}
        %path{d: "M45.9,60.1c0,0.9-0.1,1.4-0.4,1.8c-0.3,0.5-0.9,0.7-1.6,0.7s-1.3-0.3-1.6-0.7c-0.3-0.4-0.4-1-0.4-1.8v-2.8\r\n      c0-0.9,0.1-1.4,0.4-1.8c0.3-0.5,0.9-0.7,1.6-0.7s1.3,0.3,1.6,0.7c0.3,0.4,0.4,1,0.4,1.8V60.1z M42.9,60.1c0,0.6,0,0.8,0.1,1.1\r\n      c0.1,0.3,0.4,0.4,0.8,0.4s0.6-0.2,0.8-0.4c0.1-0.2,0.1-0.4,0.1-1.1v-2.8c0-0.6,0-0.8-0.1-1.1c-0.1-0.3-0.4-0.4-0.8-0.4\r\n      S43.2,56,43,56.3c-0.1,0.2-0.1,0.4-0.1,1.1V60.1z"}
        %path{d: "M48.1,62.6h-1.2v-7.7h1.8c0.7,0,1.1,0.1,1.5,0.5c0.5,0.4,0.7,1,0.7,1.7c0,1-0.3,1.6-1,2l1.1,3.5h-1.2l-1-3.2h-0.7V62.6z\r\n       M48.6,58.3c0.5,0,0.7-0.1,0.9-0.2c0.2-0.2,0.3-0.5,0.3-0.9c0-0.4-0.1-0.7-0.3-0.9C49.3,56,49.1,56,48.6,56h-0.4v2.3H48.6z"}
        %path{d: "M53.2,62.6H52v-7.7h3.5V56h-2.3v2.1h1.7v1.1h-1.7V62.6z"}
        %path{d: "M8.1,74.4c0,1.5-0.2,2.4-0.8,3.2c-0.6,0.8-1.6,1.3-2.9,1.3s-2.3-0.4-2.9-1.3c-0.5-0.8-0.8-1.7-0.8-3.2v-4.9\r\n      c0-1.5,0.2-2.4,0.8-3.2c0.6-0.8,1.6-1.3,2.9-1.3s2.3,0.4,2.9,1.3c0.5,0.8,0.8,1.7,0.8,3.2V74.4z M2.9,74.4c0,1.1,0.1,1.4,0.3,1.8\r\n      c0.2,0.4,0.7,0.7,1.3,0.7c0.6,0,1.1-0.3,1.3-0.7c0.2-0.4,0.3-0.7,0.3-1.8v-4.8c0-1.1,0-1.4-0.3-1.8C5.6,67.3,5.1,67,4.5,67\r\n      c-0.6,0-1.1,0.3-1.3,0.7c-0.2,0.4-0.3,0.8-0.3,1.8V74.4z"}
        %path{d: "M18.8,69c-0.3-1.3-0.9-2-1.8-2c-0.8,0-1.3,0.6-1.3,1.4c0,0.5,0.2,1,0.6,1.3c0.3,0.4,0.3,0.4,1.8,1.5c1.1,0.9,1.5,1.3,2,1.8\r\n      c0.5,0.7,0.9,1.5,0.9,2.5c0,2-1.5,3.4-3.6,3.4c-2.3,0-3.6-1.2-4-3.8l2-0.6c0.3,1.6,1,2.4,2.1,2.4c0.9,0,1.5-0.6,1.5-1.5\r\n      c0-0.8-0.4-1.4-2-2.6c-1.9-1.5-1.9-1.5-2.4-2.2c-0.5-0.6-0.7-1.4-0.7-2.2c0-1.9,1.4-3.3,3.5-3.3c1.9,0,3.2,1.1,3.7,3.4L18.8,69z"}
        %path{d: "M27.9,72.8v5.9h-2.1V65.3h2.1v5.6h2.9v-5.6h2.1v13.4h-2.1v-5.9H27.9z"}
        %path{d: "M44.5,67.2h-4v3.5h2.9v1.9h-2.9v4.1h4v1.9h-6V65.3h6V67.2z"}
        %path{d: "M51.5,76.8h4.1v1.9h-6.1V65.3h2.1V76.8z"}
      %g#tiff_svg
        %g
          %path{d: "M106.6,38.8h-2.1V27.3h-2.6v-1.9h7.2v1.9h-2.6V38.8z"}
          %path{d: "M112.6,38.8h-2.1V25.4h2.1V38.8z"}
          %path{d: "M116.7,38.8h-2.1V25.4h6.1v1.9h-4v3.6h3v1.9h-3V38.8z"}
          %path{d: "M124,38.8H122V25.4h6.1v1.9h-4v3.6h3v1.9h-3V38.8z"}
          %path{d: "M130.8,35.9l-0.5,2.9h-2l2.5-13.4h2.8l2.7,13.4h-2.1l-0.6-2.9H130.8z M132.2,28l-1.1,6h2.2L132.2,28z"}
          %path{d: "M145,38.8h-1.8l-3.6-8.9v8.9h-2V25.4h2.1l3.3,8.3v-8.3h2V38.8z"}
          %path{d: "M149.1,38.8H147V25.4h2.1V38.8z"}
          %path{d: "M157.1,27.3h-4v3.5h2.9v1.9h-2.9v4.1h4v1.9h-6V25.4h6V27.3z"}
        %g
          %path{d: "M109.9,78.7l-1.7-9.1l-1.6,9.1h-1.9l-2.5-13.4h2l1.5,8.6l1.6-8.6h1.8l1.8,8.6l1.3-8.6h1.9l-2.2,13.4H109.9z"}
          %path{d: "M118.5,78.7h-2.1V65.3h3.2c1.2,0,2,0.2,2.6,0.8c0.8,0.7,1.2,1.7,1.2,3c0,1.7-0.6,2.9-1.8,3.5l2,6.1h-2.2l-1.8-5.5h-1.2\r\n        V78.7z M119.3,71.3c0.9,0,1.3-0.1,1.6-0.4c0.3-0.3,0.5-0.9,0.5-1.6c0-0.7-0.2-1.3-0.5-1.6c-0.3-0.3-0.7-0.4-1.6-0.4h-0.8v4.1\r\n        H119.3z"}
          %path{d: "M128.1,78.7h-2.1V65.3h2.1V78.7z"}
          %path{d: "M138,72v6.7H137l-0.4-1.1c-0.7,1-1.4,1.3-2.5,1.3c-1.2,0-2.2-0.6-2.7-1.6c-0.4-0.9-0.6-1.7-0.6-3.6V70\r\n        c0-2.1,0.2-2.9,0.8-3.7c0.6-0.8,1.6-1.2,2.8-1.2c1.5,0,2.5,0.6,3.1,1.8c0.3,0.7,0.5,1.5,0.5,2.8h-2.1c0-1.9-0.5-2.6-1.6-2.6\r\n        c-0.5,0-1,0.2-1.2,0.7c-0.2,0.4-0.3,0.8-0.3,1.9v4.1c0,1.1,0.1,1.7,0.2,2.2c0.2,0.6,0.7,1,1.4,1c1.1,0,1.5-0.8,1.5-2.7v-0.5h-1.7\r\n        V72H138z"}
          %path{d: "M142.7,72.8v5.9h-2.1V65.3h2.1v5.6h2.9v-5.6h2.1v13.4h-2.1v-5.9H142.7z"}
          %path{d: "M154.6,78.7h-2.1V67.2h-2.6v-1.9h7.2v1.9h-2.6V78.7z"}
        %g
          %path{d: "M114.6,59.9h-2.3V48l-2.8,11.9h-1.4L105.4,48v11.9H103V43.8h3.6l2.2,10.1l2.2-10.1h3.6V59.9z"}
          %path{d: "M121.1,56.4l-0.6,3.5h-2.4l3.1-16.2h3.4l3.2,16.2h-2.5l-0.7-3.5H121.1z M122.8,46.9l-1.3,7.2h2.6L122.8,46.9z"}
          %path{d: "M133.3,59.9h-2.5V43.8h3.9c1.5,0,2.4,0.3,3.2,1c1,0.8,1.4,2.1,1.4,3.7c0,2-0.7,3.4-2.2,4.2l2.3,7.3h-2.6l-2.1-6.6h-1.5\r\n        V59.9z M134.3,51c1.1,0,1.5-0.1,1.9-0.5c0.4-0.4,0.6-1.1,0.6-2c0-0.9-0.2-1.5-0.6-1.9c-0.4-0.4-0.9-0.5-1.9-0.5h-0.9V51H134.3z"}
          %path{d: "M145.4,59.9h-2.5V43.8h2.5V59.9z"}
          %path{d: "M157,46.1h-4.8v4.3h3.5v2.3h-3.5v5h4.8v2.3h-7.2V43.8h7.2V46.1z"}
      %g#date_svg
        %path{d: "M10.8,117.3v8.9H9.4l-0.5-1.5c-0.9,1.3-1.9,1.8-3.3,1.8c-1.6,0-3-0.8-3.7-2.1c-0.6-1.2-0.8-2.3-0.8-4.8v-4.9\r\n      c0-2.8,0.2-3.9,1-5c0.8-1.1,2.1-1.7,3.7-1.7c1.9,0,3.4,0.8,4.2,2.4c0.5,0.9,0.6,2,0.6,3.7H8c0-2.5-0.6-3.5-2.1-3.5\r\n      c-0.7,0-1.3,0.3-1.6,0.9c-0.3,0.6-0.4,1.1-0.4,2.6v5.5c0,1.5,0.1,2.2,0.3,2.9c0.3,0.8,1,1.3,1.9,1.3c1.4,0,2-1,2-3.5v-0.7H5.8v-2.3\r\n      H10.8z"}
        %path{d: "M21.8,110.8h-5.3v4.7h3.9v2.5h-3.9v5.5h5.3v2.5h-8v-17.9h8V110.8z"}
        %path{d: "M29.9,126.1h-2.7v-15.3h-3.4v-2.5h9.6v2.5h-3.4V126.1z"}
        %path{d: "M41.4,126.1h-2.7v-15.3h-3.4v-2.5h9.6v2.5h-3.4V126.1z"}
        %path{d: "M50,126.1h-2.7v-17.9H50V126.1z"}
        %path{d: "M63,126.1h-2.4l-4.8-11.9v11.9h-2.6v-17.9H56l4.5,11.1v-11.1H63V126.1z"}
        %path{d: "M75.7,117.3v8.9h-1.4l-0.5-1.5c-0.9,1.3-1.9,1.8-3.3,1.8c-1.6,0-3-0.8-3.7-2.1c-0.6-1.2-0.8-2.3-0.8-4.8v-4.9\r\n      c0-2.8,0.2-3.9,1-5c0.8-1.1,2.1-1.7,3.7-1.7c1.9,0,3.4,0.8,4.2,2.4c0.5,0.9,0.6,2,0.6,3.7h-2.7c0-2.5-0.6-3.5-2.1-3.5\r\n      c-0.7,0-1.3,0.3-1.6,0.9c-0.3,0.6-0.4,1.1-0.4,2.6v5.5c0,1.5,0.1,2.2,0.3,2.9c0.3,0.8,1,1.3,1.9,1.3c1.4,0,2-1,2-3.5v-0.7h-2.3\r\n      v-2.3H75.7z"}
        %path{d: "M86.2,117.9v8.2h-2.9v-18.7h2.9v7.8h4.1v-7.8h2.9v18.7h-2.9v-8.2H86.2z"}
        %path{d: "M98.7,126.1h-2.9v-18.7h2.9V126.1z"}
        %path{d: "M107.2,126.1h-2.9v-16h-3.6v-2.7h10v2.7h-3.6V126.1z"}
        %path{d: "M119.6,113.5v-0.4c0-2.2-0.7-3.2-2.2-3.2c-0.8,0-1.4,0.3-1.7,0.9c-0.4,0.6-0.4,1.2-0.4,2.7v6.2c0,1.4,0.1,2.2,0.3,2.8\r\n      c0.3,0.7,1,1.2,1.8,1.2c1.1,0,1.7-0.6,2.1-1.8c0.1-0.5,0.1-0.9,0.2-2.3h2.9v0.6c0,4.1-1.7,6.2-5.1,6.2c-1.9,0-3.3-0.7-4.1-2.1\r\n      c-0.7-1.1-0.9-2.2-0.9-5v-5.2c0-3,0.2-4,1.1-5.2c0.8-1.1,2.2-1.7,3.9-1.7c3.2,0,5,2.1,5,5.8v0.6H119.6z"}
        %path{d: "M127.8,117.9v8.2H125v-18.7h2.9v7.8h4.1v-7.8h2.9v18.7h-2.9v-8.2H127.8z"}
        %path{d: "M145.9,110.1h-5.5v4.9h4.1v2.7h-4.1v5.8h5.5v2.7h-8.4v-18.7h8.4V110.1z"}
        %path{d: "M147.9,107.4h4.5c3.6,0,5.3,1.9,5.3,5.8v7c0,4-1.7,5.8-5.3,5.8h-4.5V107.4z M152.1,123.5c2,0,2.7-1.1,2.7-4v-5.4\r\n      c0-2.9-0.7-4-2.7-4h-1.4v13.3H152.1z"}
        %path{d: "M4.1,139.4c-0.2-0.9-0.6-1.4-1.2-1.4C2.4,138,2,138.4,2,139c0,0.3,0.1,0.7,0.4,0.9c0.2,0.3,0.2,0.3,1.2,1\r\n      c0.8,0.6,1.1,0.9,1.4,1.2c0.4,0.5,0.6,1.1,0.6,1.7c0,1.4-1,2.4-2.5,2.4c-1.6,0-2.5-0.8-2.8-2.6l1.4-0.4c0.2,1.1,0.7,1.7,1.4,1.7\r\n      c0.6,0,1-0.4,1-1.1c0-0.6-0.3-1-1.4-1.8c-1.3-1-1.3-1.1-1.7-1.5c-0.3-0.4-0.5-1-0.5-1.5c0-1.3,1-2.3,2.4-2.3c1.3,0,2.2,0.8,2.6,2.3\r\n      L4.1,139.4z"}
        %path{d: "M8.1,144.1l-0.4,2H6.3l1.8-9.3H10l1.9,9.3h-1.5l-0.4-2H8.1z M9,138.6l-0.7,4.1h1.5L9,138.6z"}
        %path{d: "M15,146.1h-1.4v-7.9h-1.8v-1.3h5v1.3H15V146.1z"}
        %path{d: "M22.7,136.8v6.3c0,1.2-0.1,1.8-0.5,2.3c-0.4,0.5-1.1,0.8-1.9,0.8c-0.8,0-1.5-0.3-1.9-0.8c-0.4-0.5-0.5-1.1-0.5-2.3v-6.3\r\n      h1.4v6.5c0,1.1,0.3,1.5,1,1.5c0.7,0,1-0.4,1-1.5v-6.5H22.7z"}
        %path{d: "M25.5,146.1h-1.4v-9.3h2.2c0.8,0,1.4,0.2,1.8,0.6c0.5,0.5,0.8,1.2,0.8,2.1c0,1.2-0.4,2-1.2,2.4l1.3,4.2h-1.5l-1.2-3.8h-0.9\r\n      V146.1z M26,140.9c0.6,0,0.9-0.1,1.1-0.3c0.2-0.2,0.3-0.6,0.3-1.1c0-0.5-0.1-0.9-0.3-1.1c-0.2-0.2-0.5-0.3-1.1-0.3h-0.5v2.8H26z"}
        %path{d: "M30.1,136.8h2.2c1.8,0,2.7,0.9,2.7,2.9v3.5c0,2-0.9,2.9-2.7,2.9h-2.2V136.8z M32.3,144.7c1,0,1.4-0.5,1.4-2v-2.7\r\n      c0-1.5-0.4-2-1.4-2h-0.7v6.6H32.3z"}
        %path{d: "M37.7,144.1l-0.4,2h-1.4l1.8-9.3h1.9l1.9,9.3H40l-0.4-2H37.7z M38.6,138.6l-0.7,4.1h1.5L38.6,138.6z"}
        %path{d: "M44.8,146.1h-1.4v-3.6l-2.1-5.6h1.6l1.2,3.9l1.3-3.9H47l-2.1,5.6V146.1z"}
        %path{d: "M48.3,146.1l-0.8,1.9H47l0.6-1.9H47v-1.5h1.3V146.1z"}
        %path{d: "M55.1,139.4c-0.2-0.9-0.6-1.4-1.2-1.4c-0.5,0-0.9,0.4-0.9,0.9c0,0.3,0.1,0.7,0.4,0.9c0.2,0.3,0.2,0.3,1.2,1\r\n      c0.8,0.6,1.1,0.9,1.4,1.2c0.4,0.5,0.6,1.1,0.6,1.7c0,1.4-1,2.4-2.5,2.4c-1.6,0-2.5-0.8-2.8-2.6l1.4-0.4c0.2,1.1,0.7,1.7,1.4,1.7\r\n      c0.6,0,1-0.4,1-1.1c0-0.6-0.3-1-1.4-1.8c-1.3-1-1.3-1.1-1.7-1.5c-0.3-0.4-0.5-1-0.5-1.5c0-1.3,1-2.3,2.4-2.3c1.3,0,2.2,0.8,2.6,2.3\r\n      L55.1,139.4z"}
        %path{d: "M61.6,138.1h-2.7v2.4h2v1.3h-2v2.9h2.7v1.3h-4.1v-9.3h4.1V138.1z"}
        %path{d: "M64,146.1h-1.4v-9.3h2.3c0.9,0,1.5,0.2,1.9,0.6c0.5,0.5,0.7,1.2,0.7,2.2c0,1-0.2,1.7-0.7,2.2c-0.4,0.4-1,0.6-1.9,0.6H64\r\n      V146.1z M64.6,141c1.1,0,1.5-0.3,1.5-1.4c0-1.1-0.4-1.4-1.5-1.4H64v2.9H64.6z"}
        %path{d: "M71.5,146.1H70v-7.9h-1.8v-1.3h5v1.3h-1.8V146.1z"}
        %path{d: "M78.4,138.1h-2.7v2.4h2v1.3h-2v2.9h2.7v1.3h-4.1v-9.3h4.1V138.1z"}
        %path{d: "M86,146.1h-1.3v-6.8l-1.6,6.8h-0.8l-1.6-6.8v6.8h-1.3v-9.3h2.1l1.3,5.8l1.3-5.8h2V146.1z"}
        %path{d: "M87.4,136.8h2.1c1.7,0,2.7,0.8,2.7,2.3c0,1.1-0.5,1.7-1.5,2.1c1.2,0.4,1.7,1,1.7,2.2c0,1.6-1,2.6-2.7,2.6h-2.3V136.8z\r\n       M89.3,140.6c0.9,0,1.4-0.5,1.4-1.3c0-0.3-0.1-0.7-0.3-0.9c-0.2-0.2-0.5-0.3-1.1-0.3h-0.5v2.5H89.3z M89.5,144.7\r\n      c0.9,0,1.4-0.5,1.4-1.3c0-0.9-0.6-1.5-1.6-1.5h-0.5v2.8H89.5z"}
        %path{d: "M97.8,138.1h-2.7v2.4h2v1.3h-2v2.9h2.7v1.3h-4.1v-9.3h4.1V138.1z"}
        %path{d: "M100.2,146.1h-1.4v-9.3h2.2c0.8,0,1.4,0.2,1.8,0.6c0.5,0.5,0.8,1.2,0.8,2.1c0,1.2-0.4,2-1.2,2.4l1.3,4.2h-1.5l-1.2-3.8\r\n      h-0.9V146.1z M100.7,140.9c0.6,0,0.9-0.1,1.1-0.3c0.2-0.2,0.3-0.6,0.3-1.1c0-0.5-0.1-0.9-0.3-1.1c-0.2-0.2-0.5-0.3-1.1-0.3h-0.5\r\n      v2.8H100.7z"}
        %path{d: "M111.4,146.1H107v-1.2c2.9-3.9,3.3-4.5,3.3-5.7c0-0.8-0.3-1.2-0.9-1.2c-0.4,0-0.7,0.2-0.8,0.5c-0.1,0.2-0.1,0.4-0.1,1h-1.3\r\n      c0-1,0.1-1.5,0.4-1.9c0.4-0.6,1.1-1,1.9-1c1.4,0,2.2,0.9,2.2,2.5c0,0.7-0.2,1.4-0.6,2.1c-0.4,0.7-0.4,0.7-2,2.9\r\n      c-0.2,0.2-0.3,0.4-0.5,0.6h2.9V146.1z"}
        %path{d: "M117.1,137.8l-2,8.3h-1.4l2-8h-3v-1.2h4.4V137.8z"}
        %path{d: "M121.4,140.3h-1.2v3.7c0,0.7,0.2,1,0.8,1c0.2,0,0.3,0,0.5-0.1v1.2c-0.4,0.1-0.6,0.1-0.9,0.1c-0.6,0-1.1-0.2-1.4-0.5\r\n      c-0.2-0.3-0.3-0.6-0.3-1.5v-3.8h-1v-1.2h1v-1.9h1.3v1.9h1.2V140.3z"}
        %path{d: "M123.6,140.1c0.6-0.7,1.1-1,1.7-1c0.8,0,1.1,0.5,1.1,1.6v5.4h-1.3v-5c0-0.6-0.1-0.8-0.5-0.8c-0.3,0-0.7,0.2-1,0.7v5.2h-1.3\r\n      v-9.3h1.3V140.1z"}
        %path{d: "M129,146.1l-0.8,1.9h-0.5l0.6-1.9h-0.6v-1.5h1.3V146.1z"}
        %path{d: "M136.5,146.1H132v-1.2c2.9-3.9,3.3-4.5,3.3-5.7c0-0.8-0.3-1.2-0.9-1.2c-0.4,0-0.7,0.2-0.8,0.5c-0.1,0.2-0.1,0.4-0.1,1h-1.3\r\n      c0-1,0.1-1.5,0.4-1.9c0.4-0.6,1.1-1,1.9-1c1.4,0,2.2,0.9,2.2,2.5c0,0.7-0.2,1.4-0.6,2.1c-0.4,0.7-0.4,0.7-2,2.9\r\n      c-0.2,0.2-0.3,0.4-0.5,0.6h2.9V146.1z"}
        %path{d: "M142.3,143.1c0,1.1-0.1,1.7-0.5,2.2c-0.4,0.6-1,0.9-1.8,0.9c-0.8,0-1.4-0.3-1.8-0.9c-0.3-0.5-0.5-1.2-0.5-2.2v-3.4\r\n      c0-1,0.1-1.7,0.5-2.2c0.4-0.6,1-0.9,1.8-0.9c0.8,0,1.4,0.3,1.8,0.9c0.3,0.5,0.5,1.1,0.5,2.2V143.1z M139.1,143.4\r\n      c0,0.6,0,0.8,0.2,1.1c0.2,0.3,0.4,0.4,0.8,0.4c0.4,0,0.6-0.2,0.8-0.4c0.1-0.3,0.2-0.4,0.2-1.1v-4c0-0.7,0-0.8-0.2-1.1\r\n      c-0.2-0.3-0.4-0.4-0.8-0.4c-0.4,0-0.7,0.2-0.8,0.4c-0.1,0.3-0.2,0.4-0.2,1.1V143.4z"}
        %path{d: "M146.6,146.1h-1.3V139H144v-0.8c0.7-0.3,1.5-0.9,1.9-1.3h0.8V146.1z"}
        %path{d: "M148.7,143.7v-1.4l2.7-5.5h1.5v5.7h1v1.2h-1v2.3h-1.3v-2.3H148.7z M151.5,139.1l-1.6,3.4h1.6V139.1z"}
        %path{d: "M155.1,143.3l-0.3-6.5h1.5l-0.3,6.5H155.1z M156.2,146.1h-1.3v-1.5h1.3V146.1z"}
      %g#amp_are
        %g
          %path{d: "M99.4,53.9c-0.4,6.2-2.2,12-5.3,16.8c1.3,1.8,3.8,3.4,6.8,4.3v10.1c-4.2-0.2-8.9-2.7-12.7-6.7c-4.6,4.7-8.2,6.4-13.2,6.4\r\n        c-8.5,0-15.3-7.3-15.3-16.6c0-6.2,2.6-11.9,8.9-19.4c-3.2-6.7-4.4-11.2-4.4-16.3c0-9.8,5.7-16.7,14-16.7c7.2,0,12.5,5.8,12.5,13.9\r\n        c0,4-1.4,7.9-4,11.7c-1.6,2.3-2,2.8-6.7,8.7c1.7,4.3,5.2,10.2,7.6,13.2c1.6-3.1,2.3-5.8,2.7-10.4L99.4,53.9z M70.1,66.9\r\n        c0,4.4,2.7,8,6,8c2.1,0,4.1-1,6.2-3.4c-3.5-3.7-6.7-8.5-9-13.6C71,61.3,70.1,63.8,70.1,66.9z M81.4,28c0-3.4-1.4-5.5-3.9-5.5\r\n        c-2.7,0-4.4,2.6-4.4,6.9c0,3.9,0.8,7.5,2.6,11.8C79.4,36.8,81.4,32.3,81.4,28z"}
        %g.are
          %g
            %path{d: "M75.1,99.7c-0.1-0.2-0.1-0.6-0.1-1c-0.7,0.8-1.2,1.1-1.9,1.1c-1,0-1.7-0.8-1.7-2.2c0-1,0.4-1.7,1.3-2.3\r\n          c0.4-0.3,0.8-0.5,2.2-1.1v-0.4c0-0.9-0.2-1.2-0.8-1.2s-0.8,0.4-0.9,1.2h-1.6c0.1-1.7,1.1-2.6,2.8-2.6c0.8,0,1.3,0.2,1.7,0.6\r\n          c0.3,0.4,0.4,0.8,0.4,1.8v3.7c0,1.3,0,1.6,0.2,2.3H75.1z M74.9,95.4c-1.4,0.7-1.9,1.3-1.9,2.1c0,0.6,0.3,0.9,0.8,0.9\r\n          c0.4,0,0.8-0.3,1.1-0.8V95.4z"}
            %path{d: "M80,91.3v1.4c0.4-1.1,1-1.6,2-1.6V93c-0.3-0.1-0.5-0.2-0.7-0.2c-0.4,0-0.7,0.2-1,0.4C80,93.6,80,93.9,80,94.6v5h-1.5\r\n          v-8.3H80z"}
            %path{d: "M84.8,95.8v0.7c0,1.5,0.2,1.9,1,1.9c0.5,0,0.8-0.2,0.9-0.7c0-0.2,0.1-0.3,0.1-0.9h1.5c0,1.1-0.1,1.5-0.3,1.9\r\n          c-0.4,0.7-1.2,1.1-2.2,1.1c-0.9,0-1.7-0.3-2.1-0.9c-0.4-0.5-0.5-1.1-0.5-2.3v-2.5c0-1.3,0.2-1.9,0.7-2.4c0.4-0.4,1.1-0.7,1.9-0.7\r\n          c0.8,0,1.5,0.3,1.9,0.8c0.5,0.5,0.6,1.1,0.6,2.5v1.4H84.8z M86.8,93.9c0-1-0.3-1.4-1-1.4s-1,0.4-1,1.4v0.5h2V93.9z"}
        %line{style: "stroke-width:2;stroke-miterlimit:10;", x1: "1", x2: "67.1", y1: "95.9", y2: "95.9"}
        %line{style: "stroke-width:2;stroke-miterlimit:10;", x1: "91.7", x2: "157.8", y1: "95.9", y2: "95.9"}
