.the_wedding_party.row
  .container
    %header.headline
      %h2 The Wedding Party
      .double-border

    %section.bridesmaids
      .alt-headline
        %h3
          The Maid of Honor
          %em &
          Bridesmaids
      .content
        %p
          Where would I be without these powerful women? Jess is my inspiration to
          be disciplined, faithful and ambitious. She is always stepping in to done
          whatever needs to be done. Bethany is my bestie since the 2nd grade and
          has become a sister through life’s many twists and turns. I truly respect
          her commitment to family. Valerie may be my baby sister, but she is an
          old soul, full of strength, empathy and an adaptability that gives me
          such a fresh perspective each time we talk. Finally, Stephanie, my maid
          of honor, “my One,” has loved me since birth even though I wasn’t the
          brother she’d been told to expect.  Our daily texts, calls and voice
          mails fill me with hope. A true companion, hers is the voice of reason
          when I lose heart.
        %ul.the_maids
          %li.maid_of_honor Stephanie
          %li Bethany 
          %li Valerie
          %li Jess
    %section.groomsmen
      .alt-headline
        %h3
          The Best Man
          %em &
          Groomsman
      .content
        %p
          Where would I be without these powerful women? Jess is my inspiration to
          be disciplined, faithful and ambitious. She is always stepping in to done
          whatever needs to be done. Bethany is my bestie since the 2nd grade and
          has become a sister through life’s many twists and turns. I truly respect
          her commitment to family. Valerie may be my baby sister, but she is an
          old soul, full of strength, empathy and an adaptability that gives me
          such a fresh perspective each time we talk. Finally, Stephanie, my maid
          of honor, “my One,” has loved me since birth even though I wasn’t the
          brother she’d been told to expect.  Our daily texts, calls and voice
          mails fill me with hope. A true companion, hers is the voice of reason
          when I lose heart.
        %ul.the_men
          %li.the_best_man Stephanie
          %li Bethany 
          %li Valerie
          %li Jess
