.the_wedding_party.row
  .container
    %header.headline
      %h2 The Wedding Party
      .double-border

    %section.bridesmaids
      .alt-headline
        %h3
          The Maid of Honor
          %em &
          Bridesmaids
      .content
        %p
          Where would I be without these powerful women? Jess is my inspiration to be disciplined, faithful and ambitious. She is always stepping in to do whatever needs to be done. Bethany, my bestie since the 2nd grade, has become a sister through life’s many twists and turns. I truly respect her commitment to family. Valerie may be my baby sister, but she is an old soul, full of strength, empathy and an adaptability that gives me such a fresh perspective each time we talk. Finally, Stephanie, my maid of honor, “my One,” has loved me since birth even though I wasn’t the brother she’d been told to expect. Our daily texts, calls and voice mails fill me with hope. A true companion, hers is the voice of reason when I lose heart.
        %ul.the_maids
          %li.maid_of_honor
            %figure
              %img{src: "/images/steph.jpg"}
            %h3
              Stephanie
              %em Maid of Honor
          %li
            %figure
              %img{src: "/images/bethany-spencer.jpg"}
            %h3 Bethany
          %li
            %figure
              %img{src: "/images/valerie-wright.jpg"}
            %h3 Valerie
          %li
            %figure
              %img{src: "/images/jessica-brtva.jpg"}
            %h3 Jessica
    %section.groomsmen
      .alt-headline
        %h3
          The Best Man
          %em &
          Groomsman
      .content
        %p
          What to say about the guys that I've known the longest? Jeremy and Jared are blood, Matthew and Christopher might as well be. We all have given each other bumps and brusies as we've grown up. Christopher and I probably knew each other first as 'the boy across the gravel road' before we asked our parents if we could play together. Christopher, Matthew, and I became a more of trio when we all started driving, AKA trying to see who could beat the other home after school. Jeremy, my half brother, has taught me to love and take care of family, and to make amends whenever possible. Jared, my younger brother, has showed me the joy and fun of starting a new family.

        %ul.the_men
          %li.maid_of_honor
            %figure
              %img{src: "/images/jared-oshel.jpg"}
            %h3
              Jared
              %em The Best Man
          %li
            %figure
              %img{src: "/images/matt-campbell.jpg"}
            %h3 Mathew
          %li
            %figure
              %img{src: "/images/chris-lower.jpg"}
            %h3 Christopher
          %li
            %figure
              %img{src: "/images/jeremy-oshel.jpg"}
            %h3 Jeremy

    .double-border
