.the_details.row
  .container
    %header.headline
      %h2 The Details
      .double-border

    .alt-headline
      %h3
        We so look forward to our small, intimate ceremony and reception and we hope more friends will join us nearby for our after-party!

    .bullets
      .bullet.three-col-bullet.date
        .bullet-content
          %h2 When
          %figure
            %img{ src:"/images/calendar_icon.png", alt:"September 27th, 2014" }
            %span.month sept
            %span.date 27
          %p
            September 27th, 2014
            %br
            %a{href: "/rsvp/info"} more info&hellip;
      %a.bullet.three-col-bullet{href: "http://www.keithhousechicago.com/", target: "_blank"}
        .bullet-content
          %h2 Where
          %figure
            %i.fa.fa-map-marker.fa-5x
          %address
            The Kieth House
            %br
            1900 S. Prairie Ave
            %br
            Chicago, IL 60616
      %a.bullet.three-col-bullet{href: "http://sinhaelegantcuisine.com/", target: "_blank"}
        .bullet-content
          %h2 Eat
          %figure
            %i.fa.fa-cutlery.fa-5x
          %p A delicious dinner catered by Sinha Elegant Cuisine

    .double-border
