.the_couple.row
  .the_story
    .container
      .headline
        %h2.drop Abraham and Tiffanie met…
        %h3.lead at South Loop Church, but became friends and eventually more
        %hr/
      %p
        because of Chicago Bike Polo. At church, he was the hard-working
        looker with the laptop, dreads and dreamy blue eyes. She was the
        “redhead” with the pipes, a child-like love of life and more than
        just a great smile. At polo, Abraham swapped the laptop for a bike,
        and Tiffanie—rather unwieldy on two borrowed wheels—took up a mallet
        and joined the madness. With blind crashes and many a bruise and scrape,
        Tiffanie tumbled into Abraham’s heart. In no time at all, Abraham
        was talking about paying off Tiffanie’s student loans when they were
        married, and her heart was won—mostly kidding. All joking aside,
        bike polo was where they became dear friends and also flirted enough
        to turn even the strongest of stomachs.
  .selfies
    #abe_slider.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          %img{alt: "...", src: "/images/abe/a1.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a2.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a3.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a4.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a5.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a6.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a6.jpg"}/


      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right
    #tiff_slider.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          %img{alt: "...", src: "/images/tiff/t1.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t2.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t3.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t4.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t5.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t6.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t6.jpg"}/
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right
