.home.landing.row
  %header
    %h1
      %span.opening-elip …
      but out of his side to be equal with him
      %span.closing-elip …

.getting_hitched.row
  =partial('shared/landing')

=partial('shared/the_couple')
