.home.landing.row
  %header
    %h1
      %span.opening-elip …
      but out of his side to be equal with him
      %span.closing-elip …

  .getting_hitched.row
    =partial('shared/landing')

  .the_couple.row
    #abe_slider.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          %img{alt: "...", src: "/images/abe/a1.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a2.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a3.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a4.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a5.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a6.jpg"}/
        .item
          %img{alt: "...", src: "/images/abe/a6.jpg"}/


      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right
    #tiff_slider.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          %img{alt: "...", src: "/images/tiff/t1.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t2.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t3.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t4.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t5.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t6.jpg"}/
        .item
          %img{alt: "...", src: "/images/tiff/t6.jpg"}/
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right
