.rsvp.row
  .container
    %header.headline
      %h2 RSVP for Invited Guests
      .double-border

    .alt-headline
      %h2 Please respond below by 31 July 2014

    %section.copy
      %p
        If you have trouble, you may also call our RSVP voicemail
        (785) 380-9332.

      %p
        The Keith House lends itself to the small, intimate wedding we have
        always wanted. Space is limited. With love, we highly encourage our
        guests to attend without non-infant children. If this is not possible,
        please add a Note so we can make accommodations.

    %footer.controls
      %form.rsvp_form{action: "/rsvp", method: "post"}
        %fieldset.invitee-info
          %label{for: "first_name"} First Name:
          %input#first_name{name: "first_name", type: "text", placeholder: "John"}

          %label{for: "last_name"} Last Name:
          %input#last_name{name: "last_name", type: "text", placeholder: "Smith"}

        %fieldset.contact_info
          %label{for: "email_address"} Email Address:
          %input#email_address{name: "email_address", type: "email", placeholder: "john@gmail.com"}

          %label{for: "phone"} Phone Number:
          %input#phone{name: "phone", type: "tel", placeholder: "785.380.9332"}

        %fieldset.invitee-attendance
          %label{for: "not_attending"} With regret, I will not attend:
          %input#not_attending{name: "not_attending", type: "checkbox", value: "not attending"}

          %label{for: "attending"} I will attend:
          %input#attending{name: "attending", type: "checkbox", value: "attending"}

          %label{for: "attending_guest"} I will bring a guest:
          %input#attending_guest{name: "attending_guest", type: "checkbox", value: "with guest"}

          %fieldset.invitee-guests
            %label{for: "guests"} Name of guests:
            %input#guests{name: "guests", type: "text", placeholder: "Jane Doe, John Smith Jr."}

          %fieldset.party-attendees
            %label{for: "attendance"} Total attendees:
            %input#attendance{name: "attendance", type: "number", placeholder: "1"}

        %fieldset.dietary
          %p
            Don't worry, we can feed you! Nearly everything on the menu is
            already free of gluten, corn and cow milk products. There are
            vegetarian options as well.
          %label{for: "allergies"} Dietary Restrictions:
          %input#allergies{name: "allergies", type: "text", placeholder: "gluten, corn, dairy"}

        %fieldset.post-script
          %label Note for Abraham and Tiffanie:
          %textarea{name: "note", type: "textarea", placeholder: "TLDR"}

        %input{type: "submit", value: "RSVP"}
