%p
  Abraham and Tiffanie will exchange vows and celebrate Saturday, 27
  September 2014 at the beautiful
  %a{href: "http://www.keithhousechicago.com/"} Keith House
  , 1900 S. Prairie Ave, Chicago, IL.
%p
  4:00 pm - The fun begins outdoors with tea and live piano music
  provided by the Mother of the Bride. Guests will be asked to take their
  seats, and the bride and groom will become husband and wife. Then we
  will all head inside for a delicious dinner. provided by
  %a{href: "http://sinhaelegantcuisine.com/"} Sinha Elegant Cuisine
  and dancing.
