.info.row
  .color-wrap
  .container
    %header.headline
      %h2 Additional Information for Guests
      .double-border
      .alt-headline
        %h3 We can't wait to celebrate Saturday September 27th, 2014

    %section.info_details.grid-items-lines.row
      %a.grid-item{href: "http://www.keithhousechicago.com/", target: "_blank"}
        %h1 The Beautiful Keith House
        %p 1900 S. Prairie Ave, Chicago, IL
      %a.grid-item.grid-item-big{href: "http://sinhaelegantcuisine.com/", target: "_blank"}
        %h1 4:00 pm – What to expect
        %p
          The afternoon begins outdoors with tea and live piano music—talents provided by the Mother of the Bride. Abraham and Tiffanie will exchange vows and blessings officiated by Rev. Dug Harris and the Father of the Bride. Then, let the celebration begin! Everyone will head indoors with the newlyweds to enjoy a delicious dinner provided by Sinha Elegant Cuisine followed by music and dancing.
    .bullets
      .bullet.four-col-bullet
        .bullet-content
          %h2 Accommodations
          %figure
          %p
            Free parking on the day of the wedding is provided in a nearby reserved lot. The Parking Information Sheet included with your invitation will also serve as your Parking Permit. Extra copies will be available.
      .bullet.four-col-bullet
        .bullet-content
          %h2 Parking
          %p
            We encourage out of town guests to book housing through any of the following as soon as possible:
            %a{href: "http://www.airbnb.com"} airbnb.com,
            %a{href: "http://www.groupon.com"} groupon.com,
            %a{href: "http://www.homeaway.com"} homeaway.com,
            %a{href: "http://www.vrbo.com"} vrbo.com,
            %a{href: "http://www.chicagoparthenonhostel.com"} chicagoparthenonhostel.com.

          %p
            Parking is not a given in Chicago. Be sure to inquire about parking when you book accommodations.
      .bullet.four-col-bullet
        .bullet-content
          %h2 Airports
          %p Chicago Midway Airport – take CTA Orange Line to city
          %p O’Hare International Airport – take CTA Blue Line to city
      .bullet.four-col-bullet
        .bullet-content
          %h2 Transportation
          %p
            The Keith House is 1 mile from the CTA Red line 3 blocks from the #3 or #4 CTA buses. Specific public transit directions can be found at maps.google.com by selecting the bus icon.

.info_map.row
  %div#event_map
