!!!
%html{lang: 'en'}
  = partial('shared/head')

  %body
    .navbar.navbar-fixed-top
      .container
        = partial('shared/topbar')
    .container
      .content
        -# flash_messages
        = yield
    = partial('shared/footer')
