.info {
  background: url('/images/info_bg.jpg') no-repeat fixed;
  background-position: center top;
  background-size: cover;

  .container {
    min-height: 500px;
    padding-top: 3%;
    position: relative;
    .bullet-content{
      h2{
        font-size: 2em;
        color: #fbfbfb;
        text-shadow: 4px 4px 0px rgba(0,0,0,0.3);
        border-bottom: 1px solid rgba(251,251,251,0.2)
      }
      a {
        color: #fbfbfb;
      }
    }
  }
}


#event_map{
  height: 50em;
  width: 100%;
  display: block;
  margin-top: -15px;
  margin-bottom: -20px;
}
