body {
  background-color: $background-color;
}

.home.landing {
  background: $landing-bg-url;
  background-size: 100%;
  background-position: top center;
  min-height: 600px;
  max-height: 780px;

  @include media($lg) {
    min-height: 495px; 
    background-position: 0 -60px;
  }

  @include media($mid) {
    min-height: 460px;
  }
  @include media($small) {
    min-height: 415px;
  }
  @include media($tablet) {
    min-height: 400px;
    background-position: 0px 0px;;
  }

  @include media($mobile-vert) {
    min-height: 300px;
  }


  header {
    padding-top: em(32);
    padding-bottom: 45%;

    @include media($lg) {
      padding-bottom: 28%
    }
  }
  h1 {
    margin-top: 0px; //reset
  }
}

.getting_hitched.row {
  padding-bottom: em(100);
}
