.rsvp {
  background: url("/images/rsvp_bg.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
  @include clearfix;
  position: relative;

  .content {
    @include clearfix;
    position: relative;
  }

  .copy {
    @include span-columns(8);
    @include shift (2);
    @include omega;
  }

  .controls {
    @include span-columns(8);
    @include shift (2);
  }
}

fieldset {
  background: none;
  border: none;
}

label {
  font-family: $alt-headline-ff;
  font-size: em(24, 16);
  color: rgba(250, 250, 250, .8);

  &.error {
    color: $details-bg-color;
    padding: 0px 0px;
  }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea{
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  background: rgba(100,100,100, .7);
  border: none;
  min-height: 35px;
  padding-left: $base-line-height / 1.2;
  font-size: em(28);
  letter-spacing: em(2);
  font-family: $headline-ff;
  text-transform: uppercase;
  color: rgba(220,220,220,.8);

  &:focus {
    background: rgba(250,250,250,.2);
    color: #f1f1f1;
  }
}

input[type="email"]{
  text-transform: none;
}
input{
  &.error{
    border: 1px solid $details-bg-color;
  }
}

@mixin two-form-split () {
  .form_row {
    @include span-columns(6);
    @include media($tablet) {
      @include span-columns(8);
    }
  }
}

.invitee-info {
  @include two-form-split();
}

.contact_info {
  @include two-form-split();
}
