.the_couple {
  padding-bottom: 0;
}

.the_story {
  padding-bottom: em(24);
  background: #8DB8F2;

  .alt-headline {
    width: 200px;
    height: 127px;
    float: left;
  }

  .headline {
    @include headline(em(120), #8db8f2);
  }

  .drop {
    position: relative;
    
    .tiff{
      font-size: 3.8em;
      position: relative;
      top: 21px;
      left: 0px;
      display: block;
    }

    .amp {
      font-size: 8em;
      position: absolute;
      top: 52px;
      right: -32px;
      color: #AA2C14;
      /* color: #3f3f3f; */
      display: block;
    }

    .abe {
      font-size: 3.8em;
      position: relative;
      top: 53px;
      left: 0px;}
  }
}

.double-border {
  padding: 6px;
  margin-top: em(8);
  margin-bottom: em(8);
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;}

.selfies {
  @include clearfix;
}

#abe_slider.carousel {
  width: 50%;
  float: left;

  .item {
  width: 100%;

    img{
    width: 100%;
    height: auto;}
  }

  @include media($tablet) {
    width: 100%;}
}

#tiff_slider.carousel {
  @extend #abe_slider.carousel;}
