.the_story {
  padding-bottom: em(24);
  background: #8DB8F2;

  .headline {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: em(38);}

  .drop {
    position: relative;
    
    .tiff{
      font-size: 2.3em;
      position: relative;
      top: 21px;
      left: 14px;}

    .amp {
      font-size: 7em;
      position: absolute;
      top: 52px;
      right: -4px;
      /*color: #3f3f3f;*/
      color: #AA2C14;
    }

    .abe {
      font-size: 2.3em;
      position: relative;
      top: 24px;
      left: 12px;}
  }
}

.double-border {
  padding: 6px;
  margin-top: em(8);
  margin-bottom: em(8);
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;}

.selfies {
  @include clearfix;
}

#abe_slider.carousel {
  width: 50%;
  float: left;

  .item {
  width: 100%;

    img{
    width: 100%;
    height: auto;}
  }

  @include media($tablet) {
    width: 100%;}
}

#tiff_slider.carousel {
  @extend #abe_slider.carousel;}
