h1, h2, h3, h4, h5 {
  font-family: $headline-ff;
}

.alt-headline {
  h2, h3, h4, h5 {
   font-family: $alt-headline-ff;
   color: $copy-color;
 }
}

p, a, li {
  font-family: $copy-ff;
}

p , li {
  color: $copy-color;
  font-size: em(25, 16);
}

a {
  font-size: em(25, 24);
}

address {
  font-family: $copy-ff;
}

.headline {
 @include headline(em(120, 16));
}

.alt-headline{
  padding-left: 18px;
  margin-right: 35px;
  margin-bottom: 13px;

  h2 {line-height: 150%;}
}

.landing h1 {
  @include special-headline;
}

.about.landing h1 {
  text-align: left;
  padding-left: em(18);
}

.the_details .alt-headline {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $base-line-height * 1.5;
}

.info {
  .headline h2 {
    font-size: em(91, 16);
  }
  .alt-headline h3 {
    font-size: em(52, 16);
    margin-top: 8px;
  }
}


footer .special-headline {
  padding-top: 18px;
  @include special-headline( .7, em(45) );
  h2 {
    color: #f1f1f1;
    width: 90%;
    text-align: left;
    padding-left: em(18);

    small {
      color: inherit;
      width: 100%;
      display: block;
      text-align: right;
      margin-top: 8px;
    }
  }
}

.the_story {
  p {
    color: #033E8C;
    margin-top: 0;
    font-size: em(42);
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 18px;
    line-height: 140%;}
}

.the_wedding_party {
 em {
  color: #AA2C14; 
  font-size: em(24);
  position: relative;
  top: em(2);
 }
}

.rsvp {
  .alt-headline {
    text-align: center;
    margin-bottom: $base-line-height * 2;
  }
}

