$headline-ff: "alternate-gothic-no-3-d-1", "alternate-gothic-no-3-d-2", "helvetica-neue", "helvetica neue", "helvetica", "arial", sans-serif;
$alt-headline-ff: "adelle-1","adelle-2",serif;

$copy-ff: "ff-tisa-web-pro-1","ff-tisa-web-pro-2",serif;
$copy-color: #fbfbfb;