$headline-ff: "alternate-gothic-no-3-d", "helvetica-neue", "helvetica neue", "helvetica", "arial", sans-serif;
$alt-headline-ff: "adelle",serif;

$copy-ff: "ff-tisa-web-pro",serif;
$copy-color: #fbfbfb;

// Global
$background-color: #3c3c3c;

// Colors

// Mixins and Defaults;
$headline-mix-font-color: #e5e5e5;
$headline-mix-text-shadow: 6px 6px 0px rgba(0,0,0,0.3);

$spe-headline-mix-font-size: em(95);

//Landing
$landing-bg-url: url('/images/landing_bg.png') no-repeat;

//The Couple
$drop-name-font-size: em(60);
$drop-ampersand-font-size: em(128);

//The Details
$details-bg-color: #f26938;

// The Wedding Party
$wedding-party-bg-color: #9358AB

